:root {
    --color-negre: rgb(34, 34, 34);
    --color-taronja: rgb(233, 164, 0);
    --color-vermell: rgb(214, 40, 40);
    --color-beix-clar: rgb(242, 239, 234);
    --color-ocre: rgb(201, 140, 0);
    --color-blanc: rgb(255, 255, 255);
}

* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
}

body {
    font-family: "Fira Sans", sans-serif;
    font-weight: 400;
    background-image: url("../img/bg-home.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-weight: 900;
    font-size: 4em;
}

h2 {
    font-weight: 700;
    font-size: 4em;
}

nav a.active {
    font-weight: 700;
}

.index-intro {
    font-weight: 700;
}

ol li {
    font-weight: 700;
}

.newsletter-title {
    font-weight: 700;
}

table th {
    font-weight: 700;
}

header {
    width: 100%;
}

.FooterWrapper {
    padding-top: 2.4em;
    padding-bottom: 2em;
    text-align: center;
    border-top: 1px solid var(--color-ocre);
    min-height: 200px;
}

.FooterWrapper p {
    padding-top: 1.2em;
    padding-bottom: 0.8em;
}

.FooterWrapper p:last-of-type {
    padding-top: 1em;
    padding-bottom: 1.5em;
}

.FooterWrapper ul {
    padding-bottom: 0.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    gap: 0.7rem;
    font-size: 0.8rem;
}

.nav-links li {
    display: flex;
    align-items: center;
}

.nav-links li:not(:last-child)::after {
    content: "|";
    margin-left: 0.5rem;
    /* margin-right: 0.35rem; */
    color: var(--color-ocre);
}

.nav-links a {
    text-decoration: none;
    color: var(--color-negro);
    font-weight: 400;
}

.nav-links a[aria-current="page"] {
    font-weight: 700;
}

.nav-links.main {
    border-top: 1px solid var(--color-ocre);
    border-bottom: 1px solid var(--color-ocre);
    padding-top: 17px;
    padding-bottom: 17px;
    text-transform: uppercase;
    font-size: 1.3em;
}

.footer-links {
    font-size: 1em;
}

abbr {
    cursor: help;
    text-decoration: underline dotted;
}

.headerTitle {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.headerTitle a:hover {
    color: var(--color-ocre);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-bottom: 7em;
}

a:hover {
    color: var(--color-ocre);
}

.AndSymbol {
    color: var(--color-ocre);
}

.siteTitle {
    font-size: 1.55em;
    font-weight: 700;
    font-style: normal;
}

.siteTitle a {
    text-decoration: none;
    color: var(--color-negre);
}

.MainTitle {
    display: inline-block;
    border-bottom: 8px dotted var(--color-negre);
    width: 100%;
    margin-bottom: 25px;
}

.credits {
    font-size: 0.81em;
}

.credits a {
    color: var(--color-vermell);
    text-decoration: none;
}

.credits a:hover {
    color: var(--color-ocre);
}

.lema {
    font-size: 2em;
}
